.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	border-radius: 0;
	border-width: 0;
	z-index: 990;
}

/*2 theme*/
.navbar-transparent {
	background-color: @white;
	background-color: rgba(255, 255, 255, 0);
}
.navbar-white {
	background-color: @white;
	background-color: rgba(255, 255, 255, 0.96);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 10px 1px rgba(0,0,0,.2);
}

.navbar-brand {
	padding: 0;
	cursor: pointer;
}

.navbar-logo {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

/*Navbar links*/
.navbar-transparent .navbar-nav > li > a {
	color: @white;
	text-shadow: @textShadow;
	padding-bottom: 11px;
	border-bottom: 4px solid transparent;
	transition: 0.25s;
}
.navbar-white .navbar-nav > li > a {
	color: @primaryBlue;
	padding-bottom: 11px;
	border-bottom: 4px solid transparent;
	transition: 0.25s;
}

.navbar-nav > .navbar-links-active > a {
	padding-bottom: 11px;
	border-top: 0px solid transparent;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 4px solid transparent;
}

.navbar-white .navbar-nav > .navbar-links-active > a,
.navbar-white .navbar-nav > li > a:focus,
.navbar-white .navbar-nav > li > a:hover {
	color: @primaryBlue;
	border-bottom: 4px solid @primaryBlue;
}

.navbar-transparent .navbar-nav > .navbar-links-active > a,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > li > a:hover {
	color: @white;
	border-bottom: 4px solid @white;
}

/*Navbar toggle*/
.navbar-default .navbar-toggle {
	border: 0;
	margin-top: -42px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle-white .icon-bar {
	background-color: @white;
}
.navbar-default .navbar-toggle-white .icon-bar {
	box-shadow: @textShadow;
}
.navbar-default .navbar-toggle-dark .icon-bar {
	background-color: @darkGray;
}


/**
* Sidebar styles
*/
/* General sidebar styles */
.bm-menu-wrap {
	z-index: 999 !important;
}
.bm-menu {
	background: @white;
	padding-top: 2.5em;
	font-size: 1.3em;
	box-shadow: -4px 0 10px 0 rgba(0,0,0,.14);
}

/* List item */
.bm-item-list > a {
	padding: 10px 2em;
	color: @primaryBlue;
}
.bm-item-list > a:focus,
.bm-item-list > a:hover {
	padding: 5px;
	color: @primaryBlue;
}
.bm-item-list > a:focus, .bm-item-list > a:hover {
	padding: 10px 2em;
}
.sidebar-active {
	background-color: @lightGray;
}

/* Overlay */
#sidebarOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 998 !important;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.3);
}

/*On mobile size*/
@media only screen and (max-width: 767px) {
	.nav {
		display: none;
	}
	.navbar-header {
		position: relative;
	}
	.navbar-logo {
		display: block;
		margin: 0 auto;
	}
}
