@primaryBlue: #008EFF;
@backgroundWhite: #FCFCFC;
@cardBackgroundBlue: linear-gradient(135deg, #0A81DF, #3cb9ff);

@white: #FFFFFF;
@semiTransparentWhite: rgba(255, 255, 255, 0.1);

@black: #333333;
@footerBlack: #303030;

@lightGray: #CCCCCC;
@darkGray: #666666;

@red: #F44336;
@yellow: #FFE642;
@500pxBlue: #0099E5;
@linkedinBlue: #0084BF;

@textShadow: 1px 1px 3px rgba(150, 150, 150, 1);
@buttonShadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);