body {
	/*Set base font*/
  font-family: 'Segoe UI', 'Open Sans', 'Lato', 'Arial', sans-serif;
	background-color: #FCFCFC;
  color: #333333;
	margin: 0;
	min-width: 320px;
}

h1 {
	color: #FFFFFF;
	font-size: 3.2em;
	font-weight: 400;
	text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
}

a:focus, a:hover {
	text-decoration: none;
}

button:focus {
	outline: none;
}

.card {
	background-color: #FFFFFF;
	color: #333333;
	border-radius: 5px;
	box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
  transition: 0.25s;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
}

.unclickable {
	pointer-events: none;
}

/*Component fade in/out animation*/
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
