.home {
	background: #FCFCFC url(../img/home-gradient.jpg) top center no-repeat scroll;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

.home-landing {
	min-height: 100vh;
}

.home-title {
	text-align: center;
	padding-top: 15vh;
	cursor: default;
	user-select: none;
}

.home-title > h1 {
	color: #FFFFFF;
	margin-bottom: 0;
	font-size: 3.3em;
	text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
}

.home-title > p {
	color: #FFFFFF;
	font-weight: 400;
	text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
}
