.home {
	background-color: #FCFCFC;
}

.home-landing {
	background: #FCFCFC url(../img/home.jpg) center center no-repeat scroll;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	min-height: 95vh;
}

.home-title {
	text-align: center;
	padding-top: 15vh;
	cursor: default;
	user-select: none;
}

.home-title > h1 {
	color: #FFFFFF;
	margin-bottom: 0;
	font-size: 3.7em;
	text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
}

.home-title > p {
	color: #FFFFFF;
	font-weight: 400;
	font-size: 16px;
	text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
}

.home-landing-icons-wrapper {
	text-align: center;
	margin-top: 15px;
}

.home-landing-icon {
	width: 30px;
	height: 30px;
	display: inline-block;
	margin: 0 5px;
	user-select: none;
	color: transparent;
}

.home-landing-icon-file {
	background: url(../img/icons/file.svg) center center no-repeat scroll;
}
.home-landing-icon-file:hover, .home-landing-icon-file:focus {
	color: transparent;
	background: url(../img/icons/file-colored.svg) center center no-repeat scroll;
}

.home-landing-icon-linkedin {
	background: url(../img/icons/linkedin.svg) center center no-repeat scroll;
}
.home-landing-icon-linkedin:hover, .home-landing-icon-linkedin:focus {
	color: transparent;
	background: url(../img/icons/linkedin-colored.svg) center center no-repeat scroll;
}

.home-landing-icon-github {
	background: url(../img/icons/github.svg) center center no-repeat scroll;
}
.home-landing-icon-github:hover, .home-landing-icon-github:focus {
	color: transparent;
	background: url(../img/icons/github-colored.svg) center center no-repeat scroll;
}

.home-landing-icon-500px {
	background: url(../img/icons/500px.svg) center center no-repeat scroll;
}
.home-landing-icon-500px:hover, .home-landing-icon-500px:focus {
	color: transparent;
	background: url(../img/icons/500px-colored.svg) center center no-repeat scroll;
}

.home-cards {
	margin-top: -85px;
}

.home-intro-card {
	text-align: center;
	padding: 20px;
}

.home-profile-pic {
	width: 125px;
	height: 125px;
	border-radius: 100px;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,.16);
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	user-select: none;
}

.home-intro-card > h3 {
	margin-bottom: 20px;
}

.home-hobbies-card {
	background: linear-gradient(135deg, #0A81DF, #3cb9ff);
	color: #FFFFFF;
	text-align: center;
}

.home-hobbies-icons-wrapper {
	margin: 25px;
}

.home-hobbies-icon {
	width: 50px;
	height: 50px;
	display: inline-block;
}


/*On mobile size*/
@media only screen and (max-width: 767px) {
	.home-title > h1 {
		font-size: 3.3em;
	}

	.home-title > p {
		font-size: 14px;
	}

	.home-hobbies-icons-wrapper {
		margin: 25px 0;
	}
}
