.portfolio {
	background-color: #FCFCFC;
}

.portfolio-title-banner {
	background: #FCFCFC url(../img/portfolio.png) bottom center no-repeat scroll;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

.portfolio-content {
	margin-top: -70px;
	padding-bottom: 30px;
}

.portfolio-cat-control {
	text-align: right;
}

.portfolio-cat-link {
	color: #008EFF;
	cursor: pointer;
	display: inline-block;
	margin: 0 13px;
	padding: 7px;
	padding-bottom: 5px;
	border-bottom: 2px solid transparent;
	user-select: none;
	transition: 0.25s;
}

.portfolio-cat-link-active, .portfolio-cat-link:hover {
	border-bottom: 2px solid #008EFF;
	color: #008EFF;
}

.portfolio-item {
	display: block;
	margin: 15px auto;
	cursor: pointer;

	background-repeat: no-repeat;
	background-position: center bottom;
	background-attachment: scroll;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

.portfolio-item > img {
	display: block;
	object-fit: contain;
	width: 140px;
	height: 110px;
	margin: 0 auto;
	padding: 5px;
	padding-top: 15px;
	user-select: none;
	transition: 0.25s;
}

.portfolio-item:hover > img {
	transform: translateY(-10px);
}

.portfolio-item > h5 {
	color: #FFFFFF;
	font-size: 14.5px;
	text-align: center;
	width: 100%;
	cursor: pointer;
	user-select: none;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* Vertically Center Modal */
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.portfolio-modal {
	color: #FFFFFF;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-attachment: scroll;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	text-align: center;
}

.portfolio-modal .modal-header {
	border-bottom: none;
	padding-top: 5px;
	padding-bottom: 0;
}

.portfolio-modal .modal-header .close {
	color: #FFFFFF;
	opacity: 0;
	transition: 0.25s;
}

.portfolio-modal .modal-header:hover .close {
	opacity: 1;
}

.portfolio-modal-body .row {
	margin-bottom: 30px;
	text-align: left;
}

.portfolio-modal-body .portfolio-modal-body-col {
	padding: 0 10px;
}

.portfolio-modal-body img {
	display: block;
	object-fit: contain;
	width: 130px;
	height: 130px;
	margin: 25px auto;
	user-select: none;
}

.portfolio-modal-body h2 {
	font-size: 34px;
}

.portfolio-modal-body h5 {
	font-size: 17px;
}

.portfolio-modal-body-desc {
	padding: 25px 0;
}

/* Blur modal background */
body.modal-open #root-view {
	filter: blur(8px);
	margin: -1px -7px;
}

.portfolio-modal-body-cat-icons {
	margin-top: 30px;
	margin-bottom: 20px;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

.portfolio-modal-cat-icon-popover {
	user-select: none;
	cursor: default;
}

.portfolio-modal-cat-icon-popover .tooltip-inner {
	box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.portfolio-modal-body-cat-icons > img {
	display: inline-block;
	width: 25px;
	height: auto;
	margin: 0 5px;
}

.portfolio-modal-body-links {
	text-align: left;
}

.portfolio-modal-link,
.portfolio-modal-link:focus {
	color: #FFFFFF;
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 62.5%;
	user-select: none;
}

.portfolio-modal-link:hover {
	color: #FFFFFF;
}

.portfolio-modal-link span {
	display: block;
	width: 121px;
	margin: 0 auto;
	text-align: left;
}

.portfolio-modal-link img {
	display: inline-block;
	width: 20px;
	height: auto;
	margin-right: 10px;
	margin-top: 0;
	margin-bottom: 0;
}

.web-link, .web-link:hover {
	background: linear-gradient(-135deg, #9C60D8, #5A52B6);
}

.github-link, .github-link:hover {
	background-color: #24292E;
}

.github-private-link, .github-private-link:hover {
	background-color: #FFFFFF;
	color: #333333;
	cursor: not-allowed;
	transition: 0;
	transform: none;
	box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.play-store-link, .play-store-link:hover {
	background: linear-gradient(-135deg, #01E0BC, #83CF3F);
}

.portfolio-modal-nav-button-vertical-aligner {
	display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-modal-nav-button {

}

.modal-left-button {

}

.modal-right-button {

}

.portfolio-modal-main {

}

/* sm */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.portfolio-modal-link, .portfolio-modal-link:focus {
		width: 100%;
	}
}

/* xs */
@media only screen and (max-width: 767px) {
	.portfolio-cat-control,
	.portfolio-modal-body .row {
		text-align: center;
	}

	.portfolio-modal .modal-header .close {
		opacity: 1;
	}

	.portfolio-cat-link {
		margin: 0 2px;
	}

	.portfolio-modal-link {
		width: 140px;
	}
}

@media only screen and (max-width: 424px) {
	.portfolio-item-wrapper {
		width: 100%;
	}
}
