.portfolio {
	background-color: #FCFCFC;
}

.portfolio-title-banner {
	background: #FCFCFC url(../img/portfolio.png) bottom center no-repeat scroll;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	min-height: 550px;
}

.portfolio-title {
	margin-top: 0;
	text-align: center;
	padding-top: 200px;
}

.portfolio-content {
	margin-top: -70px;
	padding-bottom: 30px;
}

.portfolio-cat-control {
	text-align: right;
}

.portfolio-cat-link {
	color: #008EFF;
	cursor: pointer;
	display: inline-block;
	margin: 0 13px;
	padding: 7px;
	padding-bottom: 5px;
	border-bottom: 2px solid transparent;
	user-select: none;
	transition: 0.25s;
}

.portfolio-cat-link-active, .portfolio-cat-link:hover {
	border-bottom: 2px solid #008EFF;
	color: #008EFF;
}

.portfolio-item {
	display: block;
	margin: 15px auto;
	cursor: pointer;

	background-repeat: no-repeat;
	background-position: center bottom;
	background-attachment: scroll;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

.portfolio-item > img {
	display: block;
	object-fit: contain;
	width: 140px;
	height: 110px;
	margin: 0 auto;
	padding: 5px;
	transition: 0.25s;
}

.portfolio-item:hover > img {
	transform: translateY(-10px);
}

.portfolio-item > h5 {
	color: #FFFFFF;
	font-size: 14.5px;
	text-align: center;
	width: 100%;
	cursor: pointer;
	user-select: none;
}


@media only screen and (max-width: 767px) {
	.portfolio-cat-control {
		text-align: center;
	}

	.portfolio-cat-link {
		margin: 0 2px;
	}
}

@media only screen and (max-width: 424px) {
	.portfolio-item-wrapper {
		width: 100%;
	}
}
