/** 
* Import Google Sans font
*/
@font-face {
	font-family: 'GoogleSans';
	src: url('./style/fonts/GoogleSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'GoogleSans';
	src: url('./style/fonts/GoogleSans-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'GoogleSans';
	src: url('./style/fonts/GoogleSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'GoogleSans';
	src: url('./style/fonts/GoogleSans-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'GoogleSans';
	src: url('./style/fonts/GoogleSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'GoogleSans';
	src: url('./style/fonts/GoogleSans-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

/**
* This style is to import all the style files
* align alphabetically
*/
@import "style/components/App";
@import "style/components/Contact";
@import "style/components/Footer";
@import "style/components/FullScreenLoading";
@import "style/components/Home";
@import "style/components/Navbar";
@import "style/components/Portfolio";
@import "style/components/ProgressBar";
@import "style/components/Resume";
@import "style/components/Timeline";

@import "style/colors";
